.container {
    width: 100%;
    max-width: 40rem;
    height: auto;
    margin: auto;
}

.header {
    color: teal;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 2em;
    width: 100%;
}
